.vim/
.*.swp
github-copilot/
installs/
nvim/plugged
nvim/site
nvim/tree-sitter-devicetree
jgit/
telescope_history
htop/
nvim/.netrwhist
nvim/plugin/
nvim/rplugin.vim
nvim/mason/
nvim/tree-sitter-latex/
nvim/lua/.bsp
*
